{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="static-url" content="{% static '' %}">
    <title>42_TRASCENDENCE</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
    <div id="menu"></div>
    <div id="log"></div>
    <div id="nav"></div>
    <div id="logger"></div>
    <div id="foreground"></div>
    <div id="root"></div>
    <!-- <div id="playing_area"></div> -->
</body>
{% block script %}
<script type="module" src="{% static 'js/script.js' %}"></script>
{% endblock %}
</html>