<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>42_TRASCENDENCE</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
<div style="width: 1440px; height: 1024px; position: relative; margin-top:7rem; margin-left:600px;">
    <div style="width: 1440px; height: 1024px; left: 0px; top: 0px; position: absolute; background: black"></div>

    <div style=" width: 1439.65px; height: 945px; left: 0px; top: 0px; position: absolute">

        <div style=" width: 1439.65px; height: 945px; left: 0px; top: 0px; position: absolute; background: rgba(0, 0, 0, 0.50)"></div>
    
        <div style="width: 1439.65px; height: 945px; left: 0px; top: 0px; position: absolute; background: rgba(177.44, 177.44, 177.44, 0.50)"></div>
    
        <div style="  width: 1439.65px; height: 945px; left: 0px; top: 0px; position: absolute; background: rgba(217, 217, 217, 0.50)"></div>
    
        <div style="display:flex;width: 1032.12px; height: 854.93px; left: 64.97px; top: 44.30px; position: absolute">
            <p id="barl" class="relative_bar relative_bleft"></p>
            <p id="barr" class="relative_bar relative_bright"></p>
            <p id="relative_ball" class="relative_ball"></p>
            <div style="width: 1032.12px; height: 854.93px; left: 0px; top: 0px; position: absolute; background: rgba(217, 217, 217, 0.50); box-shadow: 0px 4px 0px 10px rgba(0, 0, 0, 0.25); border-radius: 64px" class="playground"></div>
            <div class="midline" style="width: 23.62px; height: 854.93px; left: 504.98px; top: 0px; position: absolute; background: #D9D9D9"></div>
    </div>
    <div  class="big_pad" style="width: 253.97px; height: 438.54px; left: 1145.81px; top: 168.33px; position: absolute; background: #A0A0A0; box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25) inset"></div>
    
    <div class="medium_pad" style="width: 265.78px; height: 286.45px; left: 1145.81px; top: 636.40px; position: absolute; background: #777777; box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.25) inset" ></div>
    
    <div class="small_pad" style="width: 279.07px; height: 66.45px; left: 1132.52px; top: 72.35px; position: absolute; background: #777777" ></div>
    </div>
</div>
</body>
<script type="module" src="./script.js"></script>
</html>