Django~=5.0  # Django web framework
psycopg2-binary~=2.9.9  # PostgreSQL database adapter
djangorestframework~=3.14  # Django REST framework
python-dotenv~=1.0.0  # Python dotenv library for managing environment variables
dj_database_url~=2.1.0  # Django database URL configuration
djangorestframework-simplejwt~=5.3.1  # JWT authentication for Django REST framework
pyjwt~=2.8.0  # JSON Web Token implementation
certifi~=2023.11.17  # Certificates for SSL/TLS
charset-normalizer~=3.3.2  # Character encoding normalization library
idna~=3.6  # Internationalized Domain Names in Applications (IDNA) library
requests~=2.31.0  # HTTP library for making requests
urllib3~=2.1.0  # HTTP library for handling low-level networking
Pillow~=10.2.0  # Python Imaging Library (PIL) fork
django-cors-headers~=4.3.1  # Django app for handling Cross-Origin Resource Sharing (CORS)
MarkupSafe~=2.1.4  # HTML/XML markup safe string library
Werkzeug~=3.0.1  # WSGI utility library
cffi~=1.16.0  # C Foreign Function Interface for Python
cryptography~=41.0.7  # Cryptographic library for Python
django-extensions~=3.2.3  # Django extensions and management commands
pyOpenSSL~=23.3.0  # OpenSSL library bindings for Python
pycparser~=2.21  # C parser and AST generator written in Python
django-formtools~=2.5.1  # Django form handling library
django-otp~=1.3.0  # Django two-factor authentication library
django-phonenumber-field~=7.3.0  # Django phone number field library
pypng~=0.20220715.0  # Pure Python PNG image encoder/decoder
qrcode~=7.4.2  # QR code generator library
phonenumbers~=8.13.28  # Library for parsing, formatting, and validating international phone numbers
pyotp~=2.9.0  # Python One-Time Password library
channels~=4.0.0  # Django Channels for handling WebSockets and other asynchronous protocols
async-timeout~=4.0.3  # Timeout context manager for asyncio
channels_redis~=4.2.0  # Redis channel layer backend for Django Channels
click~=8.1.7  # Command line interface toolkit
h11~=0.14.0  # HTTP/1.1 library for Python
msgpack~=1.0.7  # MessagePack serialization library
redis~=5.0.1  # Redis Python client
uvicorn~=0.27.0  # ASGI server implementation
anyio~=4.2.0  # Asynchronous compatibility library
exceptiongroup~=1.2.0  # Exception grouping utility
httptools~=0.6.1  # Collection of framework independent HTTP protocol utils
pyyaml~=6.0.1  # YAML parser and emitter for Python
sniffio~=1.3.0  # Asyncio-compatible socket sniffing
uvloop~=0.19.0  # Fast asyncio event loop
watchfiles~=0.21.0  # File watching utility
websockets~=12.0  # WebSocket implementation for Python
django_redis~=5.4.0  # Redis cache backend for Django
websocket~=0.2.1  # WebSocket protocol implementation