{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content= "width=device-width, initial-scale=1.0"> 
    <title>TRASCENDENCE PONG GAME</title> 
    <link rel="stylesheet" href="{% static 'css/pong.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
    <div style="display:flex;">
        <h1 id="title" style="position: absolute; font-size: 6rem; z-index: 900; top:4rem; opacity: 0.5;">PING PONG TRASCENDECE</h1>
    </div>
    <div id="reg" style="background-color:grey; padding:2rem; border-radius: 15px; z-index: 1000;">
        {% block index %}
        <script type='module' src="{% static 'js/index.js' %}"></script>
        {% endblock %}
        <form id="registrationForm" class="registration_style">
            {% csrf_token %}
            <label for="email">Email:</label>
            <input type="email" id="email_reg" required><br><br>

            <label for="username">Username:</label>
            <input type="text" id="username_reg" pattern='^[a-zA-Z0-9_-]+$' required><br><br>

            <label for="password">Password:</label>
            <input type="password" id="password_reg" required><br><br>

            <button type="submit">Register</button><br><br>
        </form>
        {% block register %}
        <script type='module' src="{% static 'js/register.js' %}"></script>
        {% endblock %}

        <form id="loginForm">
            {% csrf_token %}
            <label for="email">Email:</label>
            <input type="email" id="email_login" required><br><br>

            <label for="password">Password:</label>
            <input type="password" id="password_login" required><br><br>
            <input type="checkbox" id="togglePasswordLogin"> Show Password<br><br>

            <button type="submit">Login</button>
        </form>
    </div>
    <div style="display: flex;">
        <button id="login42Button">Login with 42 credentials</button>
        <button id="playPongButton" style="display: none;">PLAY PONG</button>
    </div>
    {% block login %}
    <script type='module' src="{% static 'js/login.js' %}"></script>
    {% endblock %}
    {% block login42 %}
    <script type='module' src="{% static 'js/login42.js' %}"></script>
    {% endblock %}
    
    <div id="profileSection" style="display: none; padding: 1rem;">
        <form id = "avatarForm" enctype="multipart/form-data">
            <h1 style="padding: 1rem;">User Profile</h1>
            <img id="profileAvatar" src="" alt="Profile Avatar" style="background-color: rebeccapurple; width:150px; height:150px; border-radius: 15px; padding: 1rem;"/>    
            <label for="avatar">Change Avatar:</label>
            <input type="file" id="avatarInput" name="profile_avatar" accept="image/png, image/jpeg">
            <button style="font-size: 1rem; padding: 1rem;" id="uploadAvatarButton" type="submit">Submit</button>
        </form>
        <div >
            <div style="background-color: grey; padding: 1rem; border-radius: 15px;">
                <p style="color:white; padding-top: 1rem;">Email: <span id="userEmail"></span></p>
                <p style="color:white; padding-top: 1rem;"><b>Username:</b> <span id="userName"></span></p>
                <p style="color:white; padding-top: 1rem;"><b>Games Played:</b> <span id="gamesPlayed"></span></p>
                <p style="color:white; padding-top: 1rem;"><b>Games Won:</b> <span id="gamesWon"></span></p>
                <p style="color:white; padding-top: 1rem;"><b>Games Lost:</b> <span id="gamesLost"></span></p>
                <p style="color:white; padding-top: 1rem;"><b>Games Tied:</b> <span id="gamesTied"></span></p>
            </div>
            <button id="viewUsersButton">View all Users</button>
                <div id="usersList" style="display:none;"></div>
            <button id="logoutButton">Logout</button>
        </div>
    </div>
    {% block profile %}
    <script type='module' src="{% static 'js/profile.js' %}"></script>
    {% endblock %}

    {% block logout %}
    <script type='module' src="{% static 'js/logout.js' %}"></script>
    {% endblock %}

    <div class="board" id="pong_board" style="display: none;">
        <div class='ball'> 
            <div class="ball_effect"></div> 
        </div> 
        <div class="paddle_1 paddle"></div> 
        <div class="paddle_2  paddle"></div> 
        <h1 class="player_1_score">0</h1> 
        <h1 class="player_2_score">0</h1> 
        <h1 class="message">Press Enter to PLAY</h1> 
    </div>
    {% block pong %}
    <script type='module' src="{% static 'js/pong.js' %}"></script>
    {% endblock %}
</body>
</html>