* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	/*color: white;*/
	/*font-family: 'Press Start 2P', cursive, "Georgia", serif;*/
	font-family: 'Press Start 2P', cursive;
	/*font-family: "Georgia", serif;*/
	height: 100vh;
	width: 100vw;

	/*background*/
	background-image: url('./images/arkade.jpg'), linear-gradient(to top, #000000, rebeccapurple);
	background-size: cover; /* Cover the entire viewport */
	background-position: center; /* Center the background */
	background-attachment: fixed;
	overflow-x: hidden;
	/*finish setting for background*/

	/*display: flex;*/
	justify-content: center;
	align-items: center;
	/*padding-top: 100px;*/
	z-index: 1;
}

ol, ul {
	list-style-type: none;
}

/*bland layout for background*/
body:after {
	content: "";
	position: fixed;
	top: 0; bottom: 0; left: 0; right: 0;
	background: hsla(180,0%,70%,0.25);
	pointer-events: none;
}

header {
	position: relative;
	width: 100%;
	height: 70px;
	color: white;
	background: #0f0f0f;
	display: flex;
	align-items: center;
	justify-content: space-between;

	/*top: 0;*/
	/*!*background-color: rgba(255, 255, 255, 0.5);*!*/
	/*z-index: 20;*/
	/*text-align: center;*/
}

canvas {
	background: #000;
	display: inline;
	margin: -40% 50%;

}

.logo {
	display: flex;
	align-items: center;
	height: 100%;
	padding: 4%;
	width: 20%;
	justify-content: space-evenly;
}

/*logo icon*/
.logo_icon {
	filter: brightness(0) invert(1) grayscale(1); /* Convert the image to white */
	width: 35px; /* Set the width of the image */
	height: auto; /* Automatically adjust the height to maintain aspect ratio */
	padding: 2px;
}

.profile_icon {
	width: 37px;
	font-weight: bold;
	/*overflow: hidden;*/
	/*height: 47px;*/
}

.logo h1 {
	margin-left: 5%;
	font-size: 80%;
}

.title {
	color: white;

}

.menuBtn {
	display: none;
}

.navbar {
	position: relative;
	width: 70%;
	padding: 5%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}


ul {
	/*list-style-type: none;*/
	width: 100%;
	/*text-align: center;*/

}

.list_anime {
	display: inline-block;
	margin-left: 5%;
	cursor: pointer;
	height: 37px;
	overflow: hidden;

}

.list_anime:hover {
	height: 65px;

}

ul li a {
	color: white;
	text-decoration: none;
	font-size: 16px;
	height: 0;
	overflow: hidden;
	padding-top: 5%;
	/*display: none;*/
}

ul li a:hover {
	/*background: white;*/
	text-decoration: underline;
	/*color: darkmagenta;*/
	font-weight: 700;
	/*display: inline-block;*/
}


ul li img {
	display: block;
}

.nav_42 {
	padding-top: 6%;
	/*margin-left: 40%;*/
}

.terms_style {
	display: none;
	z-index: 100;
	width: 80%;
	height: auto;
	background-color: darkslateblue;
	border: black 7px solid;
	color: white;
	margin: 0 auto;
	padding: 10px;

	position: absolute;
	top: 13%;
	left: 10%;
}

.terms_style a {
	text-decoration: none;
	color: white;
}

.terms_style a:hover {
	text-decoration: underline;
}

.scrollToTopBtn {
	display: block; /* Initially hide the button */
	/*height: 5px;*/
	/*width: 200px;*/
	position: fixed; /* Position the button relative to the viewport */
	z-index: 999; /* Ensure the button appears above other content */
	background-color: rgba(72, 61, 139, 0.5);
	border-radius: 30px;
	left: 1%;
	top: 80%;
	font-size: 24px; /* Adjust the font size to make the arrow thicker */
	font-weight: bold; /* Optionally, make the arrow bold for more emphasis */
	color: white;
}
/*language section*/
#language_selector{
	display: none;
	width: 30%;
	height: auto;
	background-color: rgba(72, 61, 139, 0.5);
	padding: 20px;
	margin: 10px auto;
	font-size: 24px; /* Adjust the font size to make the arrow thicker */
	font-weight: bold; /* Optionally, make the arrow bold for more emphasis */
	color: white;
	border: rgba(0, 0, 0, 0.7) 7px solid;
	text-align: center;
	z-index: 115;

	position: absolute;
	top: 13%;
	left: 50%;
}

input[type="submit"] {
	background-color: darkslateblue;
	color: white; /* White text color */
	padding: 10px 20px; /* Padding */
	border: none; /* Remove border */
	cursor: pointer; /* Change cursor to pointer on hover */
	border-radius: 5px; /* Rounded corners */
	margin-top: 10px;
}

/* Style for submit input button on hover */
input[type="submit"]:hover {
	background-color: black;
}

select {
	width: 100%; /* Set the width to fill the container */
	padding: 10px; /* Padding */
	border: 1px solid #ccc; /* Add border */
	border-radius: 5px; /* Rounded corners */
	background-color: rgba(110, 100, 180, 0.5); /* Light gray background color */
	text-align: center;
}

/* Style for options in select dropdown on hover */
select:hover {
	border-color: #999; /* Darker border color on hover */
}

/* Style for options in select dropdown when clicked */
select:focus {
	border-color: #555; /* Dark border color when clicked */
	outline: none; /* Remove default outline */
}

/*end of language section*/

/*registration form */
.registration_form {
	position: relative;
	height: auto;
	width: 30%;
	margin: 1% 10%;
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	padding: 10px 20px;
}

.registration_form button{
	background-color: rgba(110, 100, 180, 0.5);
	color: white;
	padding: 10px;
	text-align: center;
	border-radius: 10%;
}

.registration_form button:hover{
	background-color: black;
}
/*end of registration form*/
/*#menu {*/
/*	position: absolute;*/
/*	top:1rem;*/
/*	left: 1rem;*/
/*}*/

/*button {*/
/*	background-color: rgba(255, 255, 255, 0.5);*/
/*	font-size: 2rem;*/
/*	position: relative;*/
/*	padding: 2rem;*/
/*	color:black;*/
/*	font-weight: 900;*/
/*	font-family: 'Press Start 2P', cursive;*/
/*	margin: 2.5rem;*/
/*	border-radius: 15px;*/
/*}*/

/*profile styles*/

#playPongDiv {
	display: none;
	text-align: center;

	position: absolute;
	z-index: 120;
}

.profile_block {
	display: flex;
	justify-content: start;
}

#profileSection {
    display:none;
}


#avatarForm {
	display: flex;
	align-items: flex-start; /* Align items to the start of the cross axis (top) */
	max-width: 500px;
	margin: 10px 10px 20px 30px;
}

.avatar-section {
	flex: 1; /* Take up remaining space */
	background-color: rgba(0, 0, 0, 0.7);
	padding: 10px;
	color: white;
	border-radius: 15px;
}

.avatar-container {
	position: relative;
	margin-bottom: 0;
}

#profileAvatar {
	max-width: 100%;
	/*width: auto;*/
	max-height: 100%;
	border: 3px solid #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	color: white;
	/*background-image: url('../images/default.jpg');*/
	background-size: cover;
}

.photo_container {
	display: inline-block;
	margin: 10px;
	text-align: center;
}


.upload-button {
	/*position: absolute;*/
	bottom: -30px; /* Position the button below the avatar */
	/*left: 50%;*/
	/*transform: translateX(-50%);*/
	background-color: #6f42c1; /* Dark purple background color */
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
}

input[type="file"] {
	display: none;
}

.buttons {
	display: flex;
	justify-content: center; /* Center buttons horizontally */
	margin-top: 20px; /* Add some space between avatar section and buttons */
}

#uploadAvatarButton {
	font-size: 1rem;
	padding: 10px 40px;
	background-color: #6f42c1; /* Dark purple background color */
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	margin: 10px;
}

#uploadAvatarButton:hover {
	background-color: #5a3b78; /* Darker purple background color on hover */
}

.avatarBtnContainer {
	display: flex;
	justify-content: space-between; /* Distribute items evenly along the main axis */
	align-items: center; /* Align items vertically */
	width: 100%;
	text-align: center;
	/*padding-top: 40px;*/
}

/*Pong settings*/
#pongCanvas {
	display: none;
}

#pongMenu {
	display: none;
	width: 30%;
	height: auto;
	background-color: rgba(72, 61, 139, 0.5);
	padding: 20px;
	margin: 10px auto;
	font-size: 20px; /* Adjust the font size to make the arrow thicker */
	font-weight: bold; /* Optionally, make the arrow bold for more emphasis */
	color: white;
	border: rgba(0, 0, 0, 0.7) 7px solid;
	text-align: center;
	z-index: 115;

	position: absolute;
	top: 13%;
	left: 50%;
}

#pongMenu li {
	margin-top: 10px;
}

#pongMenu li button{
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	padding: 10px;
	text-align: center;
	border-radius: 10%;
}

#pongMenu li button:hover{
	background-color: darkslateblue;
}

#pongSettings ul{
	padding: 0;
}

#profileSettings {
	display: none;
	width: 30%;
	height: auto;
	background-color: rgba(72, 61, 139, 0.5);
	padding: 20px;
	margin: 10px auto;
	font-size: 20px; /* Adjust the font size to make the arrow thicker */
	font-weight: bold; /* Optionally, make the arrow bold for more emphasis */
	color: white;
	border: rgba(0, 0, 0, 0.7) 7px solid;
	text-align: center;
	z-index: 115;

	position: absolute;
	top: 10%;
	left: 65%;
}

#profileSettings button {
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	padding: 10px;
	text-align: center;
	border-radius: 10%;
	margin-top: 5px;
}

#profileSettings button:hover {
	background-color: darkslateblue;
}


#pongBtnNav, #hangmanBtnNav, #settingsBtnNav, #tournamentBtnNav{
	display: none;
}

/*end of profile styles*/

/*list of users*/
#viewUsersButton {
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	padding: 10px;
	text-align: center;
	border-radius: 10%;
	margin-top: 5px;
	height: 40px;
}

#viewUsersButton:hover {
	background-color: darkslateblue;
}

#usersList {
	display: none;
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	padding: 10px;
	text-align: center;
	border-radius: 10%;
	margin-top: 5px;
	/*width: 30%;*/
}

.userListContainer {
	width: 30%;
	display: flex;
	flex-direction: column; /* Display items in a column */
	gap: 10px; /* Add some space between the button and the div */
}

/*end of list of users*/

/*tournament*/
.tournamentContainer {
	display: none;
	width: 30%;
	height: auto;
	background-color: rgba(72, 61, 139, 0.5);
	padding: 20px;
	margin: 10px auto;
	font-size: 20px; /* Adjust the font size to make the arrow thicker */
	font-weight: bold; /* Optionally, make the arrow bold for more emphasis */
	color: white;
	border: rgba(0, 0, 0, 0.7) 7px solid;
	text-align: center;
	z-index: 115;

	position: absolute;
	top: 10%;
	left: 65%;
}

.tournamentContainer button {
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	padding: 10px;
	text-align: center;
	border-radius: 10%;
	margin-top: 5px;
}

.tournamentContainer button:hover {
	background-color: darkslateblue;
}

.tournamentContainer button, input {
	margin: 10px;
}

.tournamentInfo {
	display: block;
	width: 30%;
	height: auto;
	background-color: rgba(72, 61, 139, 0.5);
	padding: 20px;
	margin: 10px auto;
	font-size: 20px; /* Adjust the font size to make the arrow thicker */
	font-weight: bold; /* Optionally, make the arrow bold for more emphasis */
	color: white;
	border: rgba(0, 0, 0, 0.7) 7px solid;
	text-align: center;
	z-index: 115;

	position: absolute;
	top: 10%;
	left: 65%;
}
/*end of tournament*/

/*match History*/
.matchHistoryContainer {
	background-color: rgba(0, 0, 0, 0.7);
	padding: 1rem;
	border-radius: 15px;
	width: 80%;
	margin: 10px;

}

.matchHistoryContainer p {
	color:white;
	padding-top: 10px;
	font-weight: bold;
	text-align: center;
}

.columns {
	column-count: 2; /* Set the number of columns */
	column-gap: 20px; /* Set the gap between columns */
}

.matchHistoryBtn {
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	padding: 10px;
	text-align: center;
	border-radius: 10%;
	margin-top: 5px;
	margin-left: 25%;
	font-weight: bold;
}

.matchHistoryBtn:hover {
	background-color: darkslateblue;
}

.matchHistoryContentDiv {
	background-color: rgba(0, 0, 0, 0.7);
	padding: 1rem;
	border-radius: 15px;
	width: 80%;
	margin: 10px;
	color: white;
	text-align: center;
}
/*end of Match History*/


/*adaptive design*/

@media (min-width: 1201px) {
	/* CSS rules for screen sizes of 1201px and above */
	/*.scrollToTopBtn {*/
	/*	font-size: 20px;*/
	/*}*/
}

@media (min-width: 1025px) and (max-width: 1200px) {

    canvas{
        margin: -40% 30%;
    }

	.list_anime {
		margin-left: 3%;
	}

	.navbar {
		width: 80%;
	}

	.avatar-section {
		flex: inherit;
	}

	.userListContainer {
		margin-right: 10px;
	}

	#profileAvatar {
		max-width: 80%;
	}

	#pongMenu {
		width: 40%;
	}
}

@media (min-width: 769px) and (max-width: 1024px) {

    canvas {
        margin: -40% 20%;
    }

	input[type="submit"] {
		/*padding: 10px 20px; !* Padding *!*/
		border: none; /* Remove border */
		cursor: pointer; /* Change cursor to pointer on hover */
		border-radius: 5px; /* Rounded corners */
		margin-top: 10px;
		font-size: 18px;
	}

	.navbar {
		width: 100%;
	}

	#smallNavbar {
		padding-left: 0;
	}

	.list_anime {
		margin-left: 2%;
	}

	#profileAvatar {
		max-width: 80%;
	}

	.userListContainer {
		margin-right: 10px;
	}

	#viewUsersButton {
		height: auto;
	}

	ul li a {
		font-size: 14px;
	}
}
/*481px - 768px*/
@media (max-width: 819px) {

	.header {
		width: 100%;
	}

	.navbar {
		position: absolute;
		display: block;
		width: 60%;
		/*top: 0;*/
		/*left: 0;*/
		/*height: 100%;*/
		--bs-navbar-padding-y: initial !important;
	}

	.navbar ul {
		/*display: none;*/
		width: 100%;
		height: 100vh;
		background-color: rgb(60, 60, 60);
		/*position: absolute;*/
		padding-left: 0;
	}

	#smallNavbar {
		display: none;
		z-index: 222;
	}

	ul li:hover {
		background: darkslateblue;
	}

	.navbar ul li {
		display: block;
		margin-top: 20px;
		width: 100%;
		height: 40px;
		text-align: left;
		position: relative;
		top: 50px;
	}

	ul li .logo_icon {
		display: inline-block;
	}

	.nav_42 {
		padding-top: 0;
	}

	ul li a {
		margin-left: 40px;
		/*font-family: 600;*/
	}

	.menuBtn {
		display: inline;
		position: relative;
		left: 60%;
		cursor: pointer;
		z-index: 225;
	}

	.logo {
		justify-content: normal;
	}

	.registration_form {
		width: 80%;
		/*padding-top: 30px;*/
	}

	.avatar-section {
		flex: none;
		width: 80%;
	}

	#avatarForm
	{
		width: 70%;
		margin-right: 0;
		padding-right: 0;
	}

	#uploadAvatarButton {
		padding: 10px 20px;
	}

	.upload-button {
		padding: 10px 10px;
	}

	#viewUsersButton {
		padding: 0;
		margin-right: 10px;
		font-size: 14px;
		text-align: center;
	}

	input[type="submit"] {
		/*padding: 10px 20px; !* Padding *!*/
		font-size: 14px;
	}

	#pongMenu {
		width: 50%;
		left: 40%;
	}

	.tournamentContainer {
		width: 50%;
		left: 40%;
	}

	#profileSettings {
		width: 50%;
		left: 40%;
	}



}

@media (max-width: 768px) {
	ul li a {
		margin-left: 15px;
	}

	.profile_block {
		display: inherit;

		/*width: 40%;*/
	}

	#avatarForm {
		max-width: 70%;
		margin: 10px auto;
	}

	header {
		width: 100%;
	}

	.matchHistoryContainer {
		margin: 20px auto;
	}

	.userListContainer {
		margin: 0 auto;
		width: 100%;
	}

	#viewUsersButton {
		left: 50%;
		margin: 10px;
	}

	#uploadAvatarButton {
    padding: 10px 13px;
    }

    .avatar-section {
        margin-left: 10px;
    }
}
