{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="static-url" content="{% static '' %}">
    <title>42_TRASCENDENCE</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body data-background-url="{% static 'imgs/foreground.png' %}">
    <div id="menu">MENU</div>
    <div id="login">LOGIN</div>
    <div id="login-page" style="display: none;">
        <form id="login-form" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Login</button>
        </form>
        <a href="{% url 'register' %}">Register</a>
    </div>
    {% block script %}
    <script type="module" src="{% static 'js/script.js' %}"></script>
    {% endblock %}
</body>
</html>